<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="individual-post">

    {% include masthead.html %}

    <div class="container content">

      <main id="main" role="main">
        <a href="javascript:" id="return-to-top" class="return-to-top">
            <span>&UpArrow;</span>
            <span>Scroll back to the top</span>
        </a>
        <article class="post" role="article">
          <h1 class="post-title">{{ page.title }}</h1>
          <span class="post-date">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B" }}</time>
            <time class="date-day" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d" }}</time>
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y" }}</time>
          </span>
          {{ content }}
          <hr>
        </article>
      </main>

    </div>

    {% include footer.html %}

  </body>
</html>
